<footer>

    <div class="footer-container">

        <div class="footer-about">

            <h3>About Secure-WiFi</h3>

            <p>

                Secure-WiFi aims to provide Wi-Fi security assessment
                for home Wi-Fi and businesses and recommendations
                for best practices.

                Our recommendations are tailored to meet your
                security needs, ensuring optimal protection and
                performance.

            </p>

        </div>

        <div class="footer-links">

            <h3>Quick Links</h3>

            <ul>

                <li><a href="about.html">About Us</a></li>

                <li><a href="#">Terms & Conditions</a></li>

                <li><a href="#">FAQs</a></li>

                <li><a href="#">Privacy Policy</a></li>

            </ul>

        </div>

    </div>

    <div class="copyright">

        © 2026 WiFi 7 Mall Testing Project

    </div>

</footer>